/*This one is for all page, basically page will includes two div, one is main, the other */
/*is footer-custom, everything else inside main */
html, body{
    height: 100%;
    background-color: oldlace;
}

body{
    background-color: transparent;
}

.main{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.my-img{
    width: 100%;
    height: auto;
}

/*rotate and scale and filter*/
@keyframes rotating-first {
    0% {
        transform: rotate(0) scale(1);
        filter: opacity(100%);
    }
    100% {
        transform: rotate(1800deg) scale(0);
        filter: opacity(0%);
    }
}

.rotate-anim-first{
    animation-name: rotating-first;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes rotating-last {
    0% {
        transform: rotate(1800deg) scale(0);
        filter: opacity(0);
    }
    100% {
        transform: rotate(0deg) scale(1);
        filter: opacity(1000%);
    }
}

.rotate-anim-last{
    animation-name: rotating-last;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

/*filter and scale*/
@keyframes fading-first {
    0% {
        transform: scale(1);
        filter: opacity(100%);
    }
    100% {
        transform: scale(0);
        filter: opacity(0%);
    }
}

.fade-anim-first{
    animation-name: fading-first;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes fading-last {
    0% {
        transform: scale(0);
        filter: opacity(0%);
    }
    100% {
        transform: scale(1);
        filter: opacity(100%);
    }
}

.fade-anim-last{
    animation-name: fading-last;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

/*flip*/
.perspective{
    perspective: 1000px;
}

@keyframes flipleft-first {
    0%   {transform: rotateY(0)}
    100% {transform: rotateY(90deg)}
}

.flip-left-first{
    animation-name: flipleft-first;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes flipleft-last {
    0%   {transform: rotateY(-90deg)}
    100% {transform: rotateY(0deg)}
}

.flip-left-last{
    animation-name: flipleft-last;
    animation-duration: 1s;
    animation-timing-function: linear;
}